body {
  font-family: "Helvetica", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: #9F0B0E;
}

p {
  font-size: 1rem;
  color: #000;
  margin-bottom: 2rem;
}

#project-media iframe,
#project-media video,
#project-media img {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border: none;
}

#project-gallery img,
#project-gallery iframe {
  width: 100%;
  height: 120px;
  object-fit: cover;
  margin-bottom: 5px;
  display: block;
}
