body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa; /* light gray background */
}

.card-title {
  font-weight: bold;
  text-align: center;
}

h1, h2 {
  text-align: center;
}

img {
  border-radius: 4px;
}
